div.log-information-field {
    word-wrap: break-word;
    background-color: #F5F5F5;
    max-height: 500px;
    overflow: auto;
    font-family: Courier, monospace, "Courier New";
    font-size: 15px;
    padding: .5rem 1rem;
}

#select2-MailHistory_status_type-results li,
#select2-MailHistory_status_type-container {
    > span {
        font-size: 16px;

        > i {
            padding-right: 5px;
        }
    }
}

.status-mail-wrapper {
    > span {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;

        > i {
            padding-right: 5px;
        }
    }
}