/* CUSTOM DEZERO */
.spinner a.spinner-up,
.spinner a.spinner-down {
  top: 0;
  padding: 0 0 0 1px;
}

.spinner .spinner-up i,
.spinner a.spinner-down i {
  margin-top: -3px;
  margin-left: -3px;
  font-weight: bold;
  font-size: 15px;
}
