.spinner input[type="text"] {
  float: left;
  width: 60px;
  height: 20px;
}

.spinner .btn {
  position: relative;
  width: 20px;
  height: 14px;
  padding-top: 0;
  padding-right: 9px;
  padding-left: 9px;
  padding-bottom: 0;
}

.spinner .btn.disabled {
  cursor: not-allowed;
}

.spinner .spinner-buttons {
  position: relative;
  left: -22px;
  float: left;
  width: 20px;
  height: 28px;
}

.spinner .spinner-up {
  top: 2px;
  padding: 0 0 4px 1px;
}

.spinner a.spinner-up {
  top: 0;
  padding: 0 0 0 1px;
}

.spinner .spinner-up i {
  position: relative;
  top: -4px;
}

.spinner .spinner-down {
  top: 2px;
  height: 13px;
  padding: 0 0 4px 1px;
}

.spinner .spinner-down i {
  position: relative;
  top: -5px;
}

/* CUSTOM DEZERO */
.spinner a.spinner-up,
.spinner a.spinner-down {
  top: 0;
  padding: 0 0 0 1px;
}

.spinner .spinner-up i,
.spinner a.spinner-down i {
  top: -3px;
}
