.dz-multiple-values .dz-multiple-inputs,
.form-wrapper .row-fluid .field-wrapper .dz-multiple-values .dz-multiple-inputs {
	display: none;
	margin-left: 10px;
}

.dz-multiple-values .add-more {
	margin-left: 10px;
	margin-top: 2px;
}