/*!
 * FilePondPluginFilePoster 2.2.0
 * Licensed under MIT, https://opensource.org/licenses/MIT/
 * Please visit https://pqina.nl/filepond/ for details.
 */

/* eslint-disable */
.filepond--file-poster-wrapper {
  z-index: 2;
}

.filepond--image-preview-wrapper ~ .filepond--file-poster-wrapper {
  display: none;
}

.filepond--file-poster-overlay {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 5rem;
  max-height: 7rem;
  margin: 0;
  opacity: 0;
  z-index: 1;
  mix-blend-mode: multiply;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filepond--file-poster-overlay:nth-of-type(2) {
  mix-blend-mode: normal;
}

.filepond--file-poster-overlay:nth-of-type(3) {
  mix-blend-mode: normal;
}

@supports (-webkit-marquee-repetition: infinite) and
  ((-o-object-fit: fill) or (object-fit: fill)) {
  .filepond--file-poster-overlay {
    mix-blend-mode: normal;
  }
}

.filepond--file-poster-wrapper {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  margin: 0;
  border-radius: 0.45em;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.01);
}

.filepond--file-poster {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  background: #222;
  will-change: transform, opacity;
}
.filepond--file-poster img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  will-change: transform;
}