#country-grid .country_code_column {
    width: 145px;
    text-align: center;
    text-transform: uppercase;
}

#batch-import-grid {
    margin-top: 2.75rem;
}

#batch-import-grid .summary {
    top: 77px;
    right: 30px;
}
